header{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: auto;
        padding: 15px 0;
    img{
        height: 50px;
        margin-right:20px;
    }
    
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 0 10px;
                font-size: 15px;
                text-transform: uppercase;
                a{
                    text-decoration: none;
                    color: black;
                    
                }
            }
        }
    }
    }